/*General*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --main-color: navy;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1em;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

h1{
    font-family: inherit;
    letter-spacing: 3px;
    margin: 15px 0;
    text-transform: uppercase;
    font-size: 30px;
}

h1:hover{
    letter-spacing: -3px;
}

/*Navigation*/
.navbar{
    background-color: var(--main-color);
    color: #fff;
    height: 75px;
}
.navbar .flex{
    justify-content: space-between;
    align-items: center;
}
.navbar  nav ul{
    display: flex;
}
.navbar nav ul a{
    color: #fff;
    padding: 10px;
    margin: 0 10px;
}
.navbar nav ul a:hover{
    border-bottom: #eee 2px solid;
    border-top: #eee 2px solid;
    color: hotpink;
}

/*utilities*/
.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}
.flex{
    display: flex;

}



