/*General*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --main-color: navy;
    --secondary-color: #1313e1;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    line-height: 1.6;
    color: #333;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

h1{
    font-weight: 400;
    letter-spacing: 3px;
    margin: 15px 0;
    text-transform: uppercase;
    font-size: 40px;
}

h1:hover{
    letter-spacing: -3px;
}

h2{
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p{
    margin: 10px 0;
}

img{
    max-width: 100%;
}
/*Navigation*/
.navbar{
    background: linear-gradient(45deg, navy, rgb(21, 21, 238));
    color: #fff;
    height: 70px;
}

.navbar .flex{
    justify-content: space-between;
    align-items: center;
}

.navbar  nav ul{
    display: flex;
}

.navbar nav ul a{
    color: #fff;
    padding: 10px;
    margin: 0 10px;
}

.navbar nav ul a:hover{
    border-bottom:#fff 2px solid;
    border-top: #fff 2px solid;
}


/*Display*/
.display{
    height: 400px;
    background: radial-gradient( navy, rgb(21, 21, 238));
    color: #fff;
    position: relative;
}
.display h2{
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 35px;
    
}
.display h3{
    font-weight: 300;
    font-size: 25px;
    color: #333;
    line-height: 2;
    text-align: center;
}
.display-text{
    font-weight: 300;
}

.display p{
    margin: 20px 0;
}

.display .grid{
    overflow: visible;
}

.display-form{
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index: 100;
    justify-self: flex-end;
    animation: slideInFromRight 1s ease-in;
    --webkit-animation: slideInFromRight 1s ease-in;
    --moz-animation: slideInFromRight 1s ease-in;
    --ms-animation: slideInFromRight 1s ease-in;
    --o-animation: slideInFromRight 1s ease-in;
}

.display-form .form-control{
    margin: 30px 0;
}

.display-form input[type="text"],
.display-form input[type="email"] {
    border: 0;
    border-bottom: 1px solid rgb(204, 200, 200);
    width: 100%;
    border-radius: 3px;
    padding: 3px;
    font-size: 16px;
    
}

.display-form input[type="text"]:hover,
.display-form input[type="email"]:hover{
    border-bottom: 1px solid var(--secondary-color);

}

.display-form input:focus{
    outline: none;
}

.display::before,
.display::after{
    content:'';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background-color: #fff;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
}

.btn-outline:hover{
    border: 1px solid var(--main-color);
    background-color: transparent;
}


/*Statistics*/
.statistics{
    padding-top: 100px;
    animation: slideInFromBottom 1s ease-in;
    --webkit-animation: slideInFromBottom 1s ease-in;
    --moz-animation: slideInFromBottom 1s ease-in;
    --ms-animation: slideInFromBottom 1s ease-in;
    --o-animation: slideInFromBottom 1s ease-in;
}
.statistics-heading{
    max-width: 600px;
    margin: auto;
}

.statistics p{
    font-size: 20px;
}


/*Cli*/
.cli .grid{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.cli .grid > *:first-child{
    grid-column: 1 / span 2;
        
    grid-row: 1 / span 2;
       
}

/*Cloud*/
.cloud{
    background-color: var(--main-color);
    color: #fff;
}
.cloud .grid{
    grid-template-columns: 4fr 3fr;
}
.cloud .text-center > .btn-outline:hover{
    border: 1px solid var(--secondary-color);
}

/*Languages*/
.languages .flex{
    flex-wrap: wrap;
}
.languages .card {
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in;
    --webkit-transition: transform 0.2s ease-in;
    --moz-transition: transform 0.2s ease-in;
    --ms-transition: transform 0.2s ease-in;
}

.languages .card:hover {
    transform: translateY(-15px);
}
.languages .card h4 {
    font-size: 20px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

/*footer*/
.footer{
    background-color: rgb(1, 1, 20);
    color: #fff;
}
.footer .social{
    color: #fff;
}
.footer h1{
    text-transform: capitalize;
}
.footer .social a {
    margin: 0 10px;
}

@keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
  
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
    }
  
    100% {
      transform: translateX(0);
    }
  }

  /* Mobile */
@media (max-width: 500px) {
    .navbar {
      height: 110px;
    }
  
    .navbar .flex {
      flex-direction: column;
    }
  
    .navbar ul {
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.1);
    }
  
    .display-form {
      width: 300px;
    }
  }

  /* Tablets and under */
@media (max-width: 768px) {
    .grid,
    .display .grid,
    .statistics .grid,
    .cli .grid,
    .cloud .grid {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }
  
    .display{
      height: auto;
    }
  
    .display-text {
      text-align: center;
      margin-top: 40px;
      animation: slideInFromTop 1s ease-in;
    }
  
    .display-form {
      justify-self: center;
      margin: auto;
      animation: slideInFromBottom 1s ease-in;
    }